# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Virtual environments
venv/
venv*/
test_env/

# Environment variables
.env
.env.*

# Data and indexes
data/

# Docker
*.dockerignore

# IDEs
.vscode/
.idea/

# Mac
.DS_Store

# Logs
*.log

# Git
*.orig

# Temporary files
*.swp
*.swo
